In [1]:
import pandas as pd
import duckdb

In [2]:
conn = duckdb.connect(database='data.db')

In [6]:
conn.execute("INSTALL spatial;")
conn.execute("LOAD spatial;")

In [7]:
conn.execute("create table profile as select * from st_read('passenger_Data.xlsx', layer='passenger_data')")

In [8]:
conn.execute("select * from profile").df()

,Passenger_name,Arrival_station,Departure_station,Date_of_birth,Gender,Meals,Baggage,Revenue,Country,Unique_passenger_id,Travel_date
0,Cathy Baker,San Francisco,Miami,1960-09-15,Male,Vegetarian,checked baggage allowance = 16kg,741.02,New Zealand,P0000,2023-08-08
1,Joanne Brown,Miami,Chicago,1968-12-24,Female,Vegan,checked baggage allowance = 23kg,795.99,Antarctica (the territory South of 60 deg S),P0001,2023-04-07
2,Brian Logan,Chicago,Chicago,1970-02-08,Male,Gluten-free,checked baggage allowance = 18kg,961.07,Nigeria,P0002,2023-10-04
3,Lindsay Lester,San Francisco,Chicago,1972-09-03,Female,Kosher,checked baggage allowance = 21kg,973.69,Ireland,P0003,2023-07-11
4,Steven Adams,Chicago,Miami,1953-01-14,Female,Halal,checked baggage allowance = 18kg,358.76,Japan,P0004,2023-06-10
...,...,...,...,...,...,...,...,...,...,...,...
995,George Edwards,Miami,San Francisco,1965-06-12,Male,Vegetarian,checked baggage allowance = 20kg,186.72,Afghanistan,P0995,2023-05-15
996,Travis Wilson,New York,New York,1967-08-12,Male,Vegan,checked baggage allowance = 21kg,163.12,Sweden,P0996,2023-04-15
997,Henry Byrd,Los Angeles,Miami,1966-04-08,Male,Gluten-free,checked baggage allowance = 18kg,315.00,British Indian Ocean Territory (Chagos Archipe...,P0997,2023-10-06
998,Robert Lyons,Los Angeles,Los Angeles,1961-02-06,Female,Kosher,checked baggage allowance = 25kg,216.39,Guatemala,P0998,2023-06-25
999,Joshua West,New York,Chicago,1958-01-20,Male,Halal,checked baggage allowance = 20kg,815.63,Moldova,P0999,2023-03-14

In [ ]:
conn.close()