In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("summary.parquet")

In [4]:
df.head()

   customers  journeys  bookers  bookings
0   17851840  37512228  1316354  20300158

In [2]:
import pandas as pd

df = pd.read_parquet("profiles/passenger_details/check_passenger.parquet")

In [7]:
mf = df.head(1)

In [8]:
mf.to_excel('test.xlsx')

In [16]:
df.columns

Index(['passenger_hash', 'FirstName', 'MiddleName', 'LastName',
       'HonorificPrefix', 'HonorificSuffix', 'EmailAddress', 'Phone', 'Gender',
       'ProvisionalPrimaryKey',
       ...
       'BookingCurrency_separator_KRW', 'BookingCurrency_separator_VND',
       'IsRegistered_separator_Yes', 'IsRegistered_separator_No',
       'TravelSoloOrGroup_separator_Group', 'TravelSoloOrGroup_separator_Solo',
       'TravelOrigin', 'TravelDestination', 'TravelSeat', 'Details'],
      dtype='object', length=103)

In [9]:
kf = df[["passenger_hash","FirstName","EmailAddress","Phone","Gender","TotalRevenue","TravelOrigin","TravelDestination","TravelSeat","DateOfBirth"]].head(500)

In [10]:
kf.to_excel('short.xlsx')

In [11]:
kf.head(4)

,passenger_hash,FirstName,EmailAddress,Phone,Gender,TotalRevenue,TravelOrigin,TravelDestination,TravelSeat,DateOfBirth
0,000368f50608af00251d2e7aaa556e36,VALERIE,Unknown,Unknown,2,39505.220703,"{""MNL"": 2}","{""MNL_HKG_MNL"": 1, ""HKG_MNL"": 1}","{""6C_31D_6F"": 1, ""29B_45A"": 1}",1993-11-01
1,0004ba8a15d6242f67ae9088a45ea3c5,Jocelyn,alfortemonique8@gmail.com,Unknown,2,6064.679932,"{""ZAM"": 1, ""MNL"": 1}","{""MNL"": 1, ""ZAM"": 1}","{""24E"": 1, ""19F"": 1}",1965-04-30
2,000581ed3be74e841d211f5c4d7ccd8c,Jeanne,jeanneperucho27@gmail.com,639369534031,2,11709.080078,"{""MNL"": 1}","{""BCD_MNL"": 1}","{""28B_4A"": 1}",1971-02-27
3,0006cbc5372cb420057df8edb152a4cb,Fhil Anthony,Unknown,Unknown,1,12497.080322,"{""MNL"": 2, ""CGY"": 1}","{""CGY"": 2, ""MNL"": 1}","{""27A"": 1, ""12E"": 1, ""28D"": 1}",1991-02-19