In [1]:
import duckdb

In [2]:
conn = duckdb.connect('test.db')

In [3]:
conn.close()

In [4]:
conn = duckdb.connect('test.db')

In [5]:
df = conn.execute("select * from profile").df()

In [6]:
df.head()

,Passenger_name,Arrival_station,Departure_station,Date_of_birth,Gender,Meals,Baggage,Revenue,Country,Unique_passenger_id,Travel_date
0,Cathy Baker,San Francisco,Miami,1960-09-15,Male,Vegetarian,checked baggage allowance = 16kg,741.02,New Zealand,P0000,2023-08-08
1,Joanne Brown,Miami,Chicago,1968-12-24,Female,Vegan,checked baggage allowance = 23kg,795.99,Antarctica (the territory South of 60 deg S),P0001,2023-04-07
2,Brian Logan,Chicago,Chicago,1970-02-08,Male,Gluten-free,checked baggage allowance = 18kg,961.07,Nigeria,P0002,2023-10-04
3,Lindsay Lester,San Francisco,Chicago,1972-09-03,Female,Kosher,checked baggage allowance = 21kg,973.69,Ireland,P0003,2023-07-11
4,Steven Adams,Chicago,Miami,1953-01-14,Female,Halal,checked baggage allowance = 18kg,358.76,Japan,P0004,2023-06-10